*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #768592;
    color: #FFFFFF;
    text-align: center;
}
.container {
    height: 70vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 8px;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.3);
    font-size: 8vmin;
    color: #b0413e;
}
#resetGame {
    padding: 10px 15px;
    font-size: 16px;
    background: #191913;
    color: #FFFFFF;
    border-radius: 8px;
    border: none;
}